/* Aqui o MediaQuery da página Index */

@media only screen and (max-width: 1650px) {
    #sobre-nos article {
        width: 600px;
        margin: 20px 0px;
    }
}

@media only screen and (max-width: 1300px) {
    #banner-cursos {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 1152px) {
    #banner {
        text-align: center;
    }
}

@media only screen and (max-width: 950px) {
    #content-div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #content {
        text-align: center;
        justify-content: center;
    }

    header {
        flex-direction: column;
        justify-content: center;
    }
} 

@media only screen and (max-width: 650px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    #sobre-nos article {
        flex-direction: column;
        text-align: center;
    }

    #sobre-nos h2 {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    #banner h1 {
        font-size: 40px;
    }

    #banner p {
        font-size: 15px;
    }

    #banner img {
        width: 250px;
    }

    #banner-cursos {
        padding: 10px;
    }

    #sobre-nos p {
        width: 200px;
    }
}

@media only screen and (max-width: 450px) {
    #banner a {
        font-size: 15px;
    }

    header img {
        width: 150px;
    }

    header {
        text-align: center;
    }

    header a {
        font-size: 15px;
    }

    #banner-cursos article {
        width: 200px;
        text-align: center;
    }
    
    #banner-cursos img {
        height: 300px;
        width: 200px;
    }
}

@media only screen and (max-width: 390px) {
    #banner a {
        font-size: 10px;
    }

    .retangulo {
        width: 150px;
        height: 80px;
        background-color: gray;
    }
    
    #content article {
        width: 150px;
        margin: 30px 0px;
    }
}

@media only screen and (max-width: 320px) {
    footer img {
        width: 200px;
    }

    #content a {
        font-size: 10px;
    }

    header {
        padding: 0px;
    }
}

/* Aqui o MediaQuery da página Contato */

@media only screen and (max-width: 1530px) {
    #formulario {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1340px) {
    #formulario {
        justify-content: space-around;
        padding: 60px 20px;
    }
}

@media only screen and (max-width: 950px) {
    #formulario {
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 450px) {
    #formulario input, textarea, img {
        width: 200px;
    }

    #formulario form {
        width: 200px;
        text-align: center;
    }

    #formulario h1 {
        text-align: center;
    }

    #formulario img {
        margin-top: 20px;
    }
}

/* Aqui o MediaQuery da página Cursos */

@media only screen and (max-width: 1200px) {
    #course-page article {
        width: 400px;
    }
}

@media only screen and (max-width: 850px) {
    #course-page div {
        flex-direction: column;
    }

    #course-page {
        text-align: center;
    }

    #course-page article {
        text-align: center;
    }
}

@media only screen and (max-width: 450px) {
    #course-page img {
        height: 200px;
        width: 150px;
    }

    #course-page article {
        width: 250px;
    }
}

/* Aqui o MediaQuery da página Blog */

@media only screen and (max-width: 910px) {
    #blog-banner {
        flex-direction: column;
        justify-content: center;    
    }
}

@media only screen and (max-width: 600px) {
    #blog-content article {
        width: 250px;
    }

    .retangulo2 {
        width: 250px;
        height: 150px;
    }
}

@media only screen and (max-width: 370px) {
    #blog-banner h1 {
        font-size: 20px;
    }

    #blog-banner article {
        width: 200px;
    }

    .retangulo2 {
        width: 150px;
        height: 80px;
    }

    #blog-content article {
        width: 150px;
    }
}

